/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */
.Head_header {
  position: relative;
}

.Head_inner {
  background-color: #e5e5ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 12px 30px;
}

.Head_box_first {
  display: flex;
  align-items: center;
}

.logo {
}

.Head_box_second {
  display: flex;
}

.Head_box_second1{
  width: 130px;
  margin-right: 5px;
}

.Head_box_second2{

}

.Head_btn{
  width:100px;
  height:30px;
  line-height:30px;  
}

.Head_btn a{
  display:block;
  width:100%;
  height:100%;
  text-decoration: none;
  background:#E5E5FF;
  text-align:center;
  border:2px solid#E5E5FF;
  color:#575757;
  font-size: 18px;
  font-weight:bold;
  border-radius:7px;
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
  transition: all 0.5s ease;
  text-align: center;
}

.Head_btn a:hover{
  background:white;
  color:#8f76d6;
  margin-left:0px;
  margin-top:0px;
  border:2px solid #8f76d6;
  box-shadow:none;
  text-align: center;
}

/* フッター */
.Foot_footer{
  background-color: #e5e5ff;
  color:#808080;
}

.Foot_logo{
  margin: 20px,auto;
  text-align: center;
}

.Foot_List{
  overflow: hidden;
}

.Foot_List ul{
  display: flex;
  justify-content: center;
}

ol,ul{
  list-style: none;
}

.Foot_ListItem{
  padding: 5px 30px 5px 30px;
  text-align: center;
  font-size: small;
}
.Foot_copyright{
  text-align: center;
  padding-bottom: 10px;
  font-size: xx-small;
}


/* 会員登録 ・ログイン・サロン登録　共通*/
.registration-main {
  width: 100%;
  min-width: 800px;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.form-wrap {
  width: 50%;
  background-color: white;
  padding-bottom: 70px;
}

.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 22px;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-header-text {
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
  margin-top: 15px;

}

.form-text {
  font-size: 20px;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 20px;
  resize: none;
}

.info-text {
  color: #888;
  font-size: 15px;
  margin-top: 3px;
}

.register-btn {
  width: 50%;
  margin: 15px auto;
}

.register-red-btn {
  width: 100%;
  background:  #c248b8;
  border: 1px solid  #c248b8;
  color: #fff;
  line-height: 48px;
  font-size: 18px;
  cursor: pointer;
}

.required{
  color: #fff;
  background-color: #e85298;
  font-size: 16px;
  text-align: center;
  border-radius: 2px;
}

/* ログインのみ情報*/
.login-btn{
  width: 50%;
  margin: 15px auto;
}

.login-red-btn{
  width: 100%;
  background:  #8f76d6;
  border: 1px solid #8f76d6;
  color: #fff;
  line-height: 48px;
  font-size: 18px;
  cursor: pointer;
}

.login_links{
  width: 100%;
  height: 20%;
  margin-top: 15px;
}

/*口コミ登録*/
.comments-text{
  width: 100%;
  margin-top: 5px;
  height: 96px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
}